.home-title {
    background-color: #007BFF;
    color: white;
    padding: 40px 0;
    text-align: center;
    margin-bottom: 20px;
}

.home-title span {
    font-weight: bold;
}

.playlists, .upload-song, .create-playlist {
    width: 80%;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    margin: 0 auto 20px;
}

.playlist-card {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.playlist-card:last-child {
    border-bottom: none;
}

.playlist-card:hover {
    background-color: #f9f9f9;
}

.playlist-title {
    font-size: 18px;
    font-weight: bold;
}

.playlist-date {
    color: #888;
}

