.playlist-page {
    background-color: #007BFF;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 20px;
}

.table-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    margin: 0 auto 20px;
}

.add-to-playlist {
    width: 80%;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    margin: 0 auto 20px;
}

.update-playlist {
    width: 80%;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    margin: 0 auto 20px;
}

.reorder-button {
    margin-top: 20px;
}

.reorder-group {

    width: 80%;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    margin: 60px auto 20px;
}