<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <title>Playlist Page</title>
</head>
<body>
    <div class="home-title">Welcome back, <span th:text="${session.currentUser.name}">current user!</span></div>
    <div class="playlist">
        <h2 th:text="${session.playlist.title}">Playlist Name</h2>
        <table>
            <tr>
                <th th:each="song, stat : ${session.songs}" th:if="${stat.count <= 5}">
                    <img th:src="${song.coverPath}" alt="Album Cover">
                    <p th:text="${song.title}">Song Name</p>
                </th>
            </tr>
        </table>
    </div>
    <form th:action="@{/BrowseSongs}" method="post">
        <input type="hidden" name="direction" value="next">
        <input type="submit" value="Next Song">
    </form>

    <form th:action="@{/BrowseSongs}" method="post">
        <input type="hidden" name="direction" value="previous">
        <input type="submit" value="Previous Song">
    </form>
    <div class="add-to-playlist">
        <h2>Add a new song to this playlist:</h2>
        <form method="post" th:action="@{/AddSongToExistingPlaylist}">
            <label for="songSelection">Select Songs:</label><br>
            <select id="songSelection" name="songSelection" multiple required>
                <option th:if="${#lists.isEmpty(session.songsNotInPlaylist)}" disabled>No songs available</option>
                <option th:each="song : ${session.songsNotInPlaylist}" th:value="${song.id}" th:text="${song.title}"></option>
            </select><br>
            <input type="submit" value="Add to Playlist">
        </form>
    </div>
</body>
</html>