<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/player.css}">
    <title>Player Page</title>
</head>
<body>
    <div class="player">
        <h2 th:text="${session.selectedSong.title}">Song Title</h2>
        <p th:text="${session.selectedSong.artist}">Artist Name</p>
        <p th:text="${session.selectedSong.album}">Album Name</p>
        <p th:text="${session.selectedSong.genre}">Genre</p>
        <p th:text="${session.selectedSong.albumYear}">Year</p>
        <img th:src="${session.selectedSong.coverPath}" alt="Album Cover">
        <audio controls>
            <source th:src="${session.selectedSong.filePath}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>
</body>
</html>