<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <title>Playlist Page</title>
</head>
<body>
    <div class="home-title">Welcome back, <span th:text="${session.currentUser.name}">current user!</span></div>
    <div class="playlist">
        <h2 th:text="${session.playlist.title}">Playlist Name</h2>
        <ul>
            <li th:each="song : ${session.songs}" th:text="${song.title}">Song Name</li>
        </ul>
    </div>
</body>
</html>